<?xml version="1.0" encoding="UTF-8"?>
<included>
    <include resource="com/feivirus/common/logging/base/config.xml" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATH}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"></appender-ref>
    </root>
</included>