<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feivirus.redpacket.dao.GrabRedPakcetsCustomMapper">
   <select id="selectRedPacketsById" parameterType="java.lang.Integer"
           resultMap="com.feivirus.redpacket.dao.RedPacketsMapper.BaseResultMap">
       select * from t_red_packets where id=#{rid} for update
   </select>
</mapper>